doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      .protected {
        background-color: #cfccfc;
        padding: 2px;
        margin: 3px
      }
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #cff;
      }
      li {
      float: left;
      }
      li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 4px 6px;
      text-decoration: none;
      }
      li a:hover {
      background-color: #ccc;
      }
    block styles
  body
    h3 OIDC playground
    block footer
      div.protected(style="background-color:#acdcdc")
          h4 Home
          ul
            li
              a(href="/") Public Home 
      - var navItem = {name:"Google",baseUrl:"/oidc-google",color:"#cfccff"}
      div.protected(style="background-color:#{navItem.color}")
          h4 Links under #{navItem.name} OIDC Protection
          ul
            li
              a(href="#{navItem.baseUrl}/") Home |
            li
              a(href="#{navItem.baseUrl}/token") Get token |
            li
              a(href="#{navItem.baseUrl}/user") User Info |
            li
              a(href="#{navItem.baseUrl}/info") Provider Info|
            li
              a(href='#{navItem.baseUrl}/logout') Log Out 
    block content

  block scripts